
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Tacontenta app</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<!--Inicia Karla-->
		<section class="container" id="sign-up">
			<div class="row">
				<div class="col s4 offset-s4 ocenter-align">
					<img src="logo_tacontenta_blanco.png" alt="logo" id="logo-taco">
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align">
					<span>Completa los campos requeridos*</span>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1 center-align">
					<form>
						<input type="text" class="validate" placeholder="Nombre">
						<input type="email" class="validate" placeholder="Email">
						<input type="tel" class="validate" placeholder="Teléfono">
						<button type="submit" class="waves-effect waves-light btn">Ingresar</button>
					</form>
				</div>
			</div>
		</section>
		<!--Termina KARLA-->
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!--import script-->

	</body>
</html>
